<% provide(:title,"Edit") %>
<% provide(:content,"EDIT DETAILS") %>
<% provide(:button,"Save Changes") %>

<%= render 'form' %>
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">Change</a>
    </div>
  </div>
</div>